<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>WELCOME TO THE OFFICIAL PAGE OF CHIOMY MEAL TREAT</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://cdn.cloudwares.com/css/webfonts.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  
</head>
<body>
  <header>
<nav class="navbar">
<!--Logo-->
<div class="logo">
<img src="images/lion.jpg">
</div>
<div class="menu">
    
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </nav>
</div>
    
  </header>

  <div class="container">
    
    <div class="slider">
    <img src="images/lion.jpg" alt="Rice">
    <img src="images/FB_IMG_1659169830030.jpg" alt="Beans">
    <img src="images/FB_IMG_1659466568701.jpg" alt="Meat">
    <div class="buttons">
      <button id="prevBtn">Previous</button>
      <button id="nextBtn">Next</button>
    </div>
  </div>
</div>
  
  <footer>
      <!-- Add your social media icons here -->
      <div class="social-icons">
        
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
        
    </div>
    <div class="copyright">
        <p>copyright &copy;2023 <a href="#">CHIOMY MEAL TREAT</a></p>
    </div>
    <div class="power">
        <p>Powered By PlimsolTech</p>
    </div>
    
  </footer>
  <script src="slide.js"></script>
</body>
</html>
