/*UTILITIES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	margin: 0 auto !important;
	float: none !important;
	background: blueviolet;
}
header {
    font-family: cursive;
    background-color: #333;
    margin-top: 0;
	position: relative;
    padding: 10px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    height: 120px;
}

/*logo*/
.logo img {
    /* Additional styling properties */
    width: 150px;
    height: 100px;
    border-radius: 10%;
  }

.menu {
    display: inline;
    column-gap: 1em;
    font-size: 18px;
    list-style: none;
    padding: 0;
}
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
    display: inline-block;
}

.menu li a{
    text-decoration: none;
}

.container{
    background-color: antiquewhite;
    position: relative;
    margin: 28px 10px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
}

  
  /* Slider Styles */
.slider {
    width: 90%;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 25px 65px;
    padding: 5px;
    border-radius: 25px;
  }
  
  .slider img {
    width: 100%;
    height: auto;
    display: none;
  }
  
  .slider img:first-child {
    display: block;
  }
  
  .buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
  }
  
button {
    padding: 2px 
  }


  /*APPLY MEDIA QUERRIES*/
@media (max-width: 768px) {
.menu {
    display: block;  
    height: 10px;  
    position: absolute;
    margin-top: 60px;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    }
   
.menu li:hover {
    display: inline-block;
    background-color: #c2780a;
    transition: 0.3s ease;
}

.logo img{
    border-radius: 40px;
}

.slider{
    width: 100%;
    margin: 2px 2px;
}
}
  
  /* Footer Styles */
  footer {
    border-radius: 5px 8px;
    background-color: #333;
    color: #fff;
    padding: 40px;
    position: relative;
  }
.social-icons a{
        color: #888;
        margin: 0 10px;
        text-decoration: none;
        font-size: 24px;
        padding: 5px;
        position: relative;
      }

.power{
    background-color: black;
    text-align: center;
    padding: 12px;
    position: relative;
}

.power p{
  margin-bottom: 0%;
}
  
  .social-icons {
    text-align: center;
}


